@charset "utf-8";

#card_detail_wrapper {
    max-width: 560px;
    margin: 1px auto 10px;

    .links {
        padding:1px 3px;
    }

    .card_text {
        padding-left: 6px;

        h1 {
            font-size: 12px;
            text-align: left;
        }
    }

    table.monster_data {

        * {
            font-size: 10px;
        }

        td {
            border:solid 1px;
        }

        div {
            padding:1px;

            $dot_sep: dotted 1px;

            &.special_attack {
                border-top:$dot_sep;

                .special_caption {
                    clear: both;
                }
            }

            &.skill {
                border-top:$dot_sep;
            }
        }
    }

    div.art_icon {
        float:left;
    }

    div.art_name {
        float:left;
    }

    div.art_range {
        float:left;
        margin-left:5px;
        color:#0080ff;

        .range_caption {
            display:none;
        }
    }

    div.art_power {
        float:right;
    }

    div.art_stone {
        width:30px;
        float:right;
        text-align:right;
    }

    #explain {
        margin-top:25px;
        border:solid 1px;

        div {
            padding: 3px;
            padding-bottom: 2px;
            border:solid 1px;
        }

        .range_label {
            background-color:#eeeeff;
        }
    }



    div.magic {
        padding:2px;
        border:solid 2px;
    }
    div.magic_caption {
        float:left;
        width:85%;
    }
    div.magic_stone {
        float:right;
        width:10%;
        font-size:16px;
    }

    .card_description_frame {
        width: 100%;
        padding-top: 25px;

        .label {
            width: 100%;
            background-color: #06f;
            color: #fff;
            font-size: 12px;
        }

        .card_description {
            border: solid 1px;
            border-top: 0;
            padding: 3px;
            line-height: 18px;
        }
    }
}
