@charset "utf-8";

@mixin border-radius($r) {
  -webkit-border-radius: $r;
     -moz-border-radius: $r;
      -ms-border-radius: $r;
          border-radius: $r;
}

@font-face {
    font-family: 'MotoyaCedar';
    src: url('/font/NfMotoyaCedarStd-W1.otf') format('OpenType');
}

body {
    -webkit-text-size-adjust: 100%;
    font-family:'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Lucida Grande', 'Meiryo', 'メイリオ', sans-serif;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

* {
    font-size:12px;
}

h1 {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    padding-top: 1px;
}

a.blank_link {
    min-height: 12px;
    background-image: url('/images/blank_link.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 16px;
}

img.gray {
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */

    /* FireFox */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

span.b {
    font-weight: bold;
}

select.rich_design {
  background: #fffdf4;
  border: 2px solid #00dd00;
  @include border-radius(5px);
  color: #0c2245;
  font-size: 14px;
  text-align: left;
  vertical-align: middle;
}

.zabuton_red {
    $border_rb_color: #ff8888;
    border: 3px solid #ffeeee;
    border-right-color: $border_rb_color;
    border-bottom-color: $border_rb_color;
    background-color: #ffbbbb;
}

.zabuton_green {
    $border_rb_color: #88ff88;
    border: 3px solid #eeffee;
    border-right-color: $border_rb_color;
    border-bottom-color: $border_rb_color;
    background-color: #ddffdd;
}

.zabuton_blue {
    $border_rb_color: #8888ff;
    border: 3px solid #eeeeff;
    border-right-color: $border_rb_color;
    border-bottom-color: $border_rb_color;
    background-color: #ddddff;
}

.zabuton_pink {
    $border_rb_color: #ff88ff;
    border: 3px solid #ffeeff;
    border-right-color: $border_rb_color;
    border-bottom-color: $border_rb_color;
    background-color: #ffddff;
}
