@charset "utf-8";

$max_frame_width : 400px;
$img_size : 46px;

body {
    background-color: #eeeeff;
}

div.message {
    max-width: $max_frame_width;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
}

.edit_link {
    margin: 5px;
    text-align:center;

    a {
        font-size: 12px;
    }
}

#deck_list_frame {
    width: 100%;
    max-width: $max_frame_width;
    margin: 0 auto;

    .deck_frame {
        margin: 0 auto;
        border: solid 3px;
        background-color: #fff;

        div.card_list_frame {
            width: 300px;
            text-align: center;
            margin: 0 auto;

            div.card_list {
                max-width: 300px;
                float: left;
                border: none;
                text-align: center;

                div.card_image {
                    float: left;
                    padding: 1px;
                }
            }
        }

        div.deck_header {
            max-width: 350px;
            margin: 0 auto;

            > div {
                padding: 2px;
                float:left;
            }
        }

        div.edit_link.mine {
            margin-bottom: 20px;
        }

        img {
            border: solid 1px;
            width: $img_size;
            height: $img_size;
        }
    }
}

#more_deck_list {
    text-align: center;
    margin: 40px auto;
    padding: 3px;

    span {
        $border_width: 3px;

        border-top:     solid $border_width #ccccff;
        border-left:    solid $border_width #ccccff;
        border-right:   solid $border_width #8888ff;
        border-bottom:  solid $border_width #8888ff;
        background-color: #fff;

        cursor: pointer;
        padding: 3px;
        font-size: 14px;
    }
}
