@charset "utf-8";

#game_infomation_frame {
    border: none;
    width: 100%;
    margin-top: 20px;

    $border_style : 1px solid;

    div {
        border: $border_style;
        border-bottom: none;
    }

    div.info {
        min-height: 1em;
    }
}

.mini-font {
    font-size: 8px;
}

@media screen and (max-width: 719px) {
    #responcive_frame {
        width: 100%;

        #primary_part {
            width: 100%;
        }

        #secondary_part {
            width: 100%;
            margin: 1em 0;
        }
    }
}

@media screen and (min-width: 720px) {
    $max_width_window : 680px;
    $field_background_color : #eeeeff;

    #game_infomation_frame {
        width: $max_width_window;
        margin: 10px auto 0;
        padding: 10px;
        padding-bottom: 0;
        background-color: $field_background_color;

        >* {
            background-color: #fff;
        }

        .info {
            border-bottom: 1px solid;
        }
    }

    #responcive_frame {
        width: $max_width_window;
        overflow: visible;
        margin: auto;
        padding: 10px;
        padding-top: 0;
        background-color: $field_background_color;

        >* {
            background-color: #fff;
        }

        #primary_part {
            width: 50%;
            float: left;
        }

        #secondary_part {
            width: 50%;
            float: left;
            margin-right: -3px;
        }
    }

    #buttons_frame {
        max-width: $max_width_window;
        margin: 0 auto;
    }
}

#primary_part {

    #game_field {
        width: 100%;
        border: 1px solid;
        border-collapse: collapse;

        td {
            width: 30%;
            height: 51px;
            border: 1px solid;
            padding-top: 0;
            padding-left: 0;

            .pict {
                float: left;
                height: 50px;
                width:  50px;
                position: relative;

                img.card_image {
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: 1px solid;
                    height: 100%;
                    max-width: 100%;
                }
            }

            .param {
                float: left;
                padding-left: 3px;
                font-size: 12px;

                span.power {
                    color: #ff0000;
                }

                span.shield {
                    color: #0060ff;
                }

                span.magic {
                    color: #00aa00;
                }

                span.charge {
                    color: #ffffff;
                    background-color: #ff0000;
                }
            }

            div.num_info {
                margin-left: 1px;

                img {
                    height: 13px;
                }
            }
        }

        td.actor {
            background-color: #ffff00;
        }

        td.target {
            background-color: #ffeeee;
        }

        td.lvup_checking {
            background-color: #888;
        }
        td.lvup_checking.lvup_ok {
            background-color: #fff;
        }
    }

    #hand_card {
        $img_size : 45px;

        border: 1px solid;
        text-align: center;
        padding: 12px 0;

        div {
            float: left;
            min-width: 53px;
            img {
                border: solid 1px;
                height: $img_size;
                width: $img_size;
            }
        }

        div.actor {
            img {
                border-color: #eeee00;
            }
        }

        div.target {
            img {
                border-color: #ff0000;
            }
        }
    }
}

div.card_name {
    float: left;
}

div.close_button {
    float: right;
    padding: 2px;
}

#secondary_part {

    .sort_card_frame {
        $font_size : 18px;

        width: 100%;
        border-bottom: solid 1px;

        .sort_card_title {
            border: solid 2px;
            border-bottom: solid 1px;
        }

        .sort_card_target {
            border:solid 1px;
            border-left:solid 2px;
            border-right:solid 2px;
            font-size:$font_size;

            &.selected {
                background-color: #ff0;
            }

            div {
                float: left;
                font-size:$font_size;

                &.dtl_link {
                    float: right;
                    margin-right: 3px;
                }

                span.next_draw {
                    font-size: 12px;
                }
            }

            .pict {
                width: 50px;
                height: 50px;
            }
        }

        .sort_end_button_frame {
            border: solid 2px;
            border-top: solid 1px;
            border-bottom: solid 1px;

            .sort_end_button {
                $border_rb: solid #00f;

                margin: 12px;
                border: solid #ddddff;
                border-right: $border_rb;
                border-bottom: $border_rb;
                background-color: #88f;

                font-size:$font_size;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    #card_info {
        $border_style: solid 2px;

        border: $border_style;

        #card_info_frame {
            $cmd_img_size : 50px;
            $cmd_font_size: 18px;

            div.card_info_title {
                border-bottom: $border_style;

                div {
                    float: left;

                    &.proposer {
                        float: right;
                    }
                }
            }

            div.card_summary {

                min-height: $cmd_img_size;

                div {
                    float: left;

                    &.card_image {
                        img {
                            margin: 1px;
                            border: solid 1px;
                            width: $cmd_img_size;
                            height: $cmd_img_size;
                        }
                    }

                    &.card_name {
                        font-size: $cmd_font_size;
                    }

                    &.dtl_link {
                        float: right;
                        text-align: right;
                        padding-right: 1em;

                        a {
                            font-size: $cmd_font_size;
                        }
                    }
                }
            }

            div.act_commands {
                border-top:solid 1px;

                div.command_row {
                    border-top:solid 1px;
                    padding: 12px 3px;
                    font-size: $cmd_font_size;

                    div.num_info {
                        float: right;
                        font-size: $cmd_font_size;

                        span.range_pic {
                            img {
                                height: 18px;
                            }
                        }

                        span.stone_cost {
                            font-size: 16px;
                        }
                    }
                }

                div.command_row.selected_act {
                    background-color: #ffff00;
                }
            }
        }
    }
}

#buttons_frame {
    width: 100%;

    div {
        margin: 20px;
        padding: 3px 0;
        border: solid 3px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
    }

    div.marigan_button {
        $upper_line_color : #ffffee;
        $under_line_color : #888800;

        background-color: #ffffdd;
        border-top-color:    $upper_line_color;
        border-left-color:   $upper_line_color;
        border-right-color:  $under_line_color;
        border-bottom-color: $under_line_color;
    }

    div.cancel_button {
        $upper_line_color : #ffeeee;
        $under_line_color : #880000;

        background-color: #ffdddd;
        border-top-color:    $upper_line_color;
        border-left-color:   $upper_line_color;
        border-right-color:  $under_line_color;
        border-bottom-color: $under_line_color;
    }

    div.rollback_button {
        $upper_line_color : #ffeeee;
        $under_line_color : #880000;

        display: none;

        background-color: #ffdddd;
        border-top-color:    $upper_line_color;
        border-left-color:   $upper_line_color;
        border-right-color:  $under_line_color;
        border-bottom-color: $under_line_color;
    }

    div.execute_button {
        $upper_line_color : #eeffee;
        $under_line_color : #008800;

        background-color: #ddffdd;
        border-top-color:    $upper_line_color;
        border-left-color:   $upper_line_color;
        border-right-color:  $under_line_color;
        border-bottom-color: $under_line_color;
    }

    div.turn_end_button {
        $upper_line_color : #eeeeff;
        $under_line_color : #000088;

        background-color: #ddddff;
        border-top-color:    $upper_line_color;
        border-left-color:   $upper_line_color;
        border-right-color:  $under_line_color;
        border-bottom-color: $under_line_color;
    }
}

$top_margin  : 1em;
$left_margin : 15px;

.disp_button {
    display: none;
    margin-top:  $top_margin;
    margin-left: $left_margin;
}

.settings {
    margin-top:  $top_margin;

    $spacing : 9px;
    $border_style : solid 1px;

    .setting_item {
        padding-top:    $spacing;
        padding-bottom: $spacing;
        padding-left:   $left_margin;
        padding-right:  $spacing;
        border-left:    $border_style;
        border-right:   $border_style;
        border-bottom:  $border_style;
    }

    .setting_item.first {
        margin-top: $top_margin;
        padding:    0;
        height:     0;
    }

    .toggle_setting {
        margin-top: $top_margin;
        margin-left:$left_margin;
    }

    .toggle_setting.last {
        margin-top: $spacing;
    }
}

.hidden_cards_info {
    display: none;
}
