@charset "utf-8";

#game_field {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;

    td {
        width: 30%;
        border: 1px solid;

        .pict {
            float: left;
            height: 50px;

            img {
                height: 100%;
            }
        }

        .param {
            float: left;
            padding-left: 3px;
            font-size: 12px;

            span.power {
                color: #ff0000;
            }

            span.shield {
                color: #0060ff;
            }

            span.magic {
                color: #00aa00;
            }

            span.charge {
                color: #ffffff;
                background-color: #ff0000;
            }
        }
    }

    td.actor {
        background-color: #ffff00;
    }

    td.target {
        background-color: #ffeeee;
    }
}

.mini-font {
    font-size: 6px;
}

#hand_card {
    $img_size : 45px;

    border: 1px solid;
    text-align: center;
    padding: 12px 0;

    div {
        float: left;
        width: 16%;
        img {
            border: solid 1px;
            height: $img_size;
            width: $img_size;
        }

        img.actor {
            border-color: #eeee00;
        }

        img.target {
            border-color: #ff0000;
        }
    }
}

div.card_name {
    float: left;
}

div.close_button {
    float: right;
    padding: 2px;
}

#card_info {
    $border_style: solid 2px;

    margin: 1em 0;
    border: $border_style;

    div {
        width: 100%;

        div.card_info_title {
            border-bottom: $border_style;
        }

        div.card_summary {
            min-height: 1em;

            div {
                float: left;
            }
        }
    }
}

#buttons_frame {
    width: 100%;

    div.cancel_button {
        $upper_line_color : #ffdddd;
        $under_line_color : #880000;

        margin: 20px;
        padding: 3px 0;
        background-color: #ffeeee;
        border: solid 2px;
        border-top-color:    $upper_line_color;
        border-left-color:   $upper_line_color;
        border-right-color:  $under_line_color;
        border-bottom-color: $under_line_color;
        font-size: 18px;
        text-align: center;
    }
}
