@charset "utf-8";

body {
    background-color: #eeeeff;
}

.mini-font {
    font-size: 6px;
}

.page_link {
    $border_width : 1px;

    border-top:     $border_width solid;
    border-bottom:  $border_width solid;
    border-color:   #AA00FF;
    text-align: right;
    margin-top: 2em;
    padding-right: 5px;
    background-color: #f7f7ff;

    span {
        margin-right: 15px;
    }
}

.field_title {
    background-color: #FFFFFF;
    margin-top: 15px;
    border: 2px solid;
    border-bottom: none;
}

.game_row {
    background-color: #FFFFFF;
    border: 1px solid;
    margin: 0;
    margin-bottom: 15px;

    div.field-title {
        div {
            border: 1px solid;
            padding:1px;
        }
    }

    table.game_field {
        height: 100%;
        width: 100%;
        border: 1px solid;
        border-collapse: collapse;

        td {
            border: 1px solid;
            width: 16%;
            
            > div {
               text-align: center;
            }

            .pict {
                min-height: 50px;

                img {
                    width: 100%;
                    max-width: 50px;
                }
            }

            .param {
                padding-left: 3px;
                font-size: 12px;

                span.power {
                    color: #ff0000;
                }

                span.shield {
                    color: #0060ff;
                }

                span.magic {
                    color: #00aa00;
                }

                span.charge {
                    color: #ffffff;
                    background-color: #ff0000;
                }
            }

            div.num_info {
                img {
                    height: 13px;
                }
            }
        }

        td.explain {
            width:50%;
            vertical-align:top;
        }
    }

    .hand_card {
        border: 1px solid;
        min-height: 48px;
        padding: 2px;
        text-align:center;

        img {
            width: 49px;
        }
    }
}

div.card_name {
    float: left;
}

div.close_button {
    float: right;
    padding: 2px;
}
