@charset "utf-8";

#header {
    width: 100%;

    .title {
        background-color: #ffffff;
        border: 1px solid;

        .h1wrap {

            max-width: 420px;
            height: 42px;
            position: relative;
            margin: auto;

            h1 {
                position: absolute;
                margin: auto;
                top: 5px;
                left: 0;
                right: 0;
                bottom: 0;
                text-align:center;

                img {
                    width: 100%;
                    max-width: 350px;
                    padding: 0;
                    margin: 0;
                }
            }

            .env_echo {
                position: absolute;
                transform: rotate(-8deg);
                color: lightgreen;
                background-color: blue;
                font-weight: bold;
                font-size: 12px;
            }
        }
    }

    div.links {
        padding: 3px;
        border: 1px solid;
        border-bottom: 2px solid;
        background-color:#eeeeff;
    }

    div.top_link {
        float:left;
    }

    div.user_info {
        float: right;
        text-align: right;
    }
}

#footer {
    margin-top: 35px;
    width: 100%;
    min-height: 100%;
    background-color: #eeffee;

    .footer_tweet {
        margin: 0 20px;
        padding: 5px;

        span {
            display: inherit;
            text-align: right;
        }
    }

    $iAdHeight : 66px;
    $iAdWidth  : 1280px;
    .footer_ad {
        display: block;
        padding-top: 20px;
        width: 100%;
        height: $iAdHeight + 20px;
        overflow: hidden;

        background: #eeffff;

        div.slide {
            height: $iAdHeight + 20px;
            overflow-x: scroll;

            div.ad_frame {
                width: $iAdWidth;

                div {
                    display: block;
                    float: left;
                    padding: 3px;
                }
            }
        }
    }
}
