@charset "utf-8";

#header {
    width: 100%;

    h1 {
        margin: 0;
        border: 1px solid;
        text-align:center;
        background-color: #ffffff;

        img {
            width: 100%;
            max-width: 350px;
            padding: 0;
            margin: 0;
        }
    }

    div.links {
        padding: 3px;
        border: 1px solid;
        border-bottom: 2px solid;
        background-color:#eeeeff;
    }

    div.top_link {
        float:left;
    }

    div.user_info {
        float: right;
        text-align: right;
    }
}

#footer {
    margin-top: 35px;
    width: 100%;
    min-height: 100%;
    background-color: #eeffee;

    .footer_tweet {
        margin: 0 20px;
        padding: 5px;

        span {
            display: inherit;
            text-align: right;
        }
    }
}
