@charset "utf-8";
.links {
  padding: 1px 3px; }

table.monster_data td {
  border: solid 1px; }
table.monster_data div {
  padding: 1px; }
  table.monster_data div.special_attack {
    border-top: dotted 1px; }
  table.monster_data div.skill {
    border-top: dotted 1px; }

div.art_icon {
  float: left; }

div.art_name {
  float: left; }

div.art_range {
  float: left;
  margin-left: 5px;
  color: #0080ff; }
  div.art_range .range_caption {
    display: none; }

div.art_power {
  float: right; }

div.art_stone {
  width: 30px;
  float: right;
  text-align: right; }

#explain {
  margin-top: 25px;
  border: solid 1px; }
  #explain div {
    padding: 3px;
    padding-bottom: 2px;
    border: solid 1px; }
  #explain .range_label {
    background-color: #eeeeff; }

div.magic {
  padding: 2px;
  border: solid 2px; }

div.magic_caption {
  float: left;
  width: 85%; }

div.magic_stone {
  float: right;
  width: 10%;
  font-size: 16px; }

.card_description_frame {
  width: 100%;
  padding-top: 25px; }
  .card_description_frame .label {
    width: 100%;
    background-color: #06f;
    color: #fff;
    font-size: 12px; }
  .card_description_frame .card_description {
    border: solid 1px;
    border-top: 0;
    padding: 3px; }
