@charset "utf-8";
@font-face {
  font-family: 'MotoyaCedar';
  src: url("/font/NfMotoyaCedarStd-W1.otf") format("OpenType"); }
body {
  -webkit-text-size-adjust: 100%;
  font-family: 'MotoyaCedar', 'Meiryo', 'メイリオ', 'ヒラギノ角ゴ ProN W3','Lucida Grande', 'Hiragino Kaku Gothic ProN', sans-serif;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

* {
  font-size: 12px; }

a.blank_link {
  min-height: 12px;
  background-image: url("/images/blank_link.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 15px; }

table.sql_debug {
  border: solid 1px; }
  table.sql_debug th {
    border: solid 1px #eeeeee;
    background-color: #eeeeff; }
  table.sql_debug td {
    border: solid 1px #eeeeee;
    background-color: #ffffff; }
