@charset "utf-8";
div.message {
  padding: 3px;
  background-color: #ffffff; }

.edit_link {
  margin: 5px;
  text-align: center; }
  .edit_link a {
    font-size: 12px; }

.deck_frame {
  border: solid 3px; }
  .deck_frame div .card_list {
    padding: 3px;
    float: left;
    border: solid 1px; }
  .deck_frame div.deck_header > div {
    padding: 2px;
    float: left; }
  .deck_frame div.edit_link.mine {
    margin-bottom: 20px; }
  .deck_frame img {
    border: solid 1px;
    width: 46px;
    height: 46px; }
