@charset "utf-8";
#game_field {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  margin-top: 20px; }
  #game_field td {
    width: 30%;
    height: 51px;
    border: 1px solid;
    padding-top: 0;
    padding-left: 0; }
    #game_field td .pict {
      float: left;
      height: 50px;
      width: 50px; }
      #game_field td .pict img {
        border: 1px solid;
        height: 100%;
        width: 100%; }
    #game_field td .param {
      float: left;
      padding-left: 3px;
      font-size: 12px; }
      #game_field td .param span.power {
        color: #ff0000; }
      #game_field td .param span.shield {
        color: #0060ff; }
      #game_field td .param span.magic {
        color: #00aa00; }
      #game_field td .param span.charge {
        color: #ffffff;
        background-color: #ff0000; }
    #game_field td div.num_info img {
      height: 13px; }
  #game_field td.actor {
    background-color: #ffff00; }
  #game_field td.target {
    background-color: #ffeeee; }
  #game_field td.lvup_checking {
    background-color: #888; }
  #game_field td.lvup_checking.lvup_ok {
    background-color: #fff; }

.mini-font {
  font-size: 8px; }

#hand_card {
  border: 1px solid;
  text-align: center;
  padding: 12px 0; }
  #hand_card div {
    float: left;
    min-width: 53px; }
    #hand_card div img {
      border: solid 1px;
      height: 45px;
      width: 45px; }
  #hand_card div.actor img {
    border-color: #eeee00; }
  #hand_card div.target img {
    border-color: #ff0000; }

div.card_name {
  float: left; }

div.close_button {
  float: right;
  padding: 2px; }

#card_info {
  margin: 1em 0;
  border: solid 2px; }
  #card_info #card_info_frame div.card_info_title {
    border-bottom: solid 2px; }
    #card_info #card_info_frame div.card_info_title div {
      float: left; }
    #card_info #card_info_frame div.card_info_title div.proposer {
      float: right; }
  #card_info #card_info_frame div.card_summary {
    min-height: 50px; }
    #card_info #card_info_frame div.card_summary div {
      float: left; }
    #card_info #card_info_frame div.card_summary div.card_image img {
      margin: 1px;
      border: solid 1px;
      width: 50px;
      height: 50px; }
    #card_info #card_info_frame div.card_summary div.card_name {
      font-size: 18px; }
    #card_info #card_info_frame div.card_summary div.dtl_link {
      float: right;
      text-align: right;
      padding-right: 1em; }
      #card_info #card_info_frame div.card_summary div.dtl_link a {
        font-size: 18px; }
  #card_info #card_info_frame div.act_commands {
    border-top: solid 1px; }
    #card_info #card_info_frame div.act_commands div.command_row {
      border-top: solid 1px;
      padding: 12px 3px;
      font-size: 18px; }
      #card_info #card_info_frame div.act_commands div.command_row div.num_info {
        float: right;
        font-size: 18px; }
        #card_info #card_info_frame div.act_commands div.command_row div.num_info span.range_pic img {
          height: 18px; }
        #card_info #card_info_frame div.act_commands div.command_row div.num_info span.stone_cost {
          font-size: 16px; }
    #card_info #card_info_frame div.act_commands div.command_row.selected_act {
      background-color: #ffff00; }

#buttons_frame {
  width: 100%; }
  #buttons_frame div {
    margin: 20px;
    padding: 3px 0;
    border: solid 2px;
    font-size: 18px;
    text-align: center; }
  #buttons_frame div.cancel_button {
    background-color: #ffeeee;
    border-top-color: #ffdddd;
    border-left-color: #ffdddd;
    border-right-color: #880000;
    border-bottom-color: #880000; }
  #buttons_frame div.rollback_button {
    display: none;
    background-color: #ffeeee;
    border-top-color: #ffdddd;
    border-left-color: #ffdddd;
    border-right-color: #880000;
    border-bottom-color: #880000; }
  #buttons_frame div.execute_button {
    background-color: #eeffee;
    border-top-color: #ddffdd;
    border-left-color: #ddffdd;
    border-right-color: #008800;
    border-bottom-color: #008800; }
  #buttons_frame div.turn_end_button {
    background-color: #eeeeff;
    border-top-color: #ddddff;
    border-left-color: #ddddff;
    border-right-color: #000088;
    border-bottom-color: #000088; }

.disp_button {
  display: none;
  margin-top: 1em;
  margin-left: 15px; }

.settings {
  margin-top: 1em; }
  .settings .setting_item {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 9px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px; }
  .settings .setting_item.first {
    margin-top: 1em;
    padding: 0;
    height: 0; }
  .settings .toggle_setting {
    margin-top: 1em;
    margin-left: 15px; }
  .settings .toggle_setting.last {
    margin-top: 9px; }

.hidden_cards_info {
  display: none; }
