@charset "utf-8";
body {
  background-color: #eeeeff; }

.mini-font {
  font-size: 6px; }

#game_field_list_frame {
  width: 100%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto; }
  #game_field_list_frame div.page_description {
    margin: 10px auto 0;
    text-align: center; }
  #game_field_list_frame div.game_list_link {
    margin: 8px auto;
    text-align: center;
    width: 180px; }
    #game_field_list_frame div.game_list_link a {
      display: block;
      margin: 3px 8px;
      padding: 2px;
      border: solid 3px #880000;
      border-top-color: #ffeeee;
      border-left-color: #ffeeee;
      background-color: #ffcccc;
      text-decoration: none;
      text-shadow: white 1px 1px 0px, white -1px 1px 0px, white 1px -1px 0px, white -1px -1px 0px, white 1px 0px 0px, white -1px 0px 0px, white 0px 1px 0px, white 0px -1px 0px; }
      #game_field_list_frame div.game_list_link a:visited {
        text-decoration: none; }
  #game_field_list_frame .old_field_disp_select_frame {
    margin: 15px; }
  #game_field_list_frame .page_link {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    overflow: visible;
    height: 30px;
    margin-top: 20px; }
    #game_field_list_frame .page_link span {
      margin: 0 3px;
      border: solid 2px;
      padding: 3px 5px;
      background-color: white; }
      #game_field_list_frame .page_link span.next_page_link {
        border-color: white; }
  #game_field_list_frame .field_title {
    background-color: #FFFFFF;
    margin-top: 15px;
    border: 2px solid;
    border-bottom: none; }
  #game_field_list_frame .game_row {
    background-color: #FFFFFF;
    border: 1px solid;
    margin: 0;
    margin-bottom: 15px; }
    #game_field_list_frame .game_row div.field-title div {
      border: 1px solid;
      padding: 1px; }
    #game_field_list_frame .game_row table.game_field {
      height: 100%;
      width: 100%;
      border: 1px solid;
      border-collapse: collapse; }
      #game_field_list_frame .game_row table.game_field td {
        border: 1px solid;
        width: 16%; }
        #game_field_list_frame .game_row table.game_field td > div {
          text-align: center; }
        #game_field_list_frame .game_row table.game_field td .pict {
          min-height: 50px; }
          #game_field_list_frame .game_row table.game_field td .pict img {
            width: 100%;
            max-width: 50px; }
        #game_field_list_frame .game_row table.game_field td .param {
          padding-left: 3px;
          font-size: 12px; }
          #game_field_list_frame .game_row table.game_field td .param span.power {
            color: #ff0000; }
          #game_field_list_frame .game_row table.game_field td .param span.shield {
            color: #0060ff; }
          #game_field_list_frame .game_row table.game_field td .param span.magic {
            color: #00aa00; }
          #game_field_list_frame .game_row table.game_field td .param span.charge {
            color: #ffffff;
            background-color: #ff0000; }
        #game_field_list_frame .game_row table.game_field td div.num_info img {
          height: 13px; }
      #game_field_list_frame .game_row table.game_field td.explain {
        width: 50%;
        vertical-align: top; }
        #game_field_list_frame .game_row table.game_field td.explain div.player_name {
          text-align: left; }
        #game_field_list_frame .game_row table.game_field td.explain div.magic_effects {
          margin-top: 1em;
          text-align: left; }
        #game_field_list_frame .game_row table.game_field td.explain div.button {
          margin: 32px 5px;
          padding: 3px 0;
          cursor: pointer; }
          #game_field_list_frame .game_row table.game_field td.explain div.button.game_play {
            border-top: 3px solid #eeeeff;
            border-left: 3px solid #eeeeff;
            border-bottom: 3px solid #000088;
            border-right: 3px solid #000088;
            background-color: #ccccff;
            text-shadow: white 1px 1px 0px, white -1px 1px 0px, white 1px -1px 0px, white -1px -1px 0px, white 1px 0px 0px, white -1px 0px 0px, white 0px 1px 0px, white 0px -1px 0px; }
          #game_field_list_frame .game_row table.game_field td.explain div.button.view_log {
            border-top: 3px solid #eeffee;
            border-left: 3px solid #eeffee;
            border-bottom: 3px solid #008800;
            border-right: 3px solid #008800;
            background-color: #ccffcc;
            text-shadow: white 1px 1px 0px, white -1px 1px 0px, white 1px -1px 0px, white -1px -1px 0px, white 1px 0px 0px, white -1px 0px 0px, white 0px 1px 0px, white 0px -1px 0px; }
    #game_field_list_frame .game_row .hand_card {
      border: 1px solid;
      min-height: 48px;
      padding: 2px;
      text-align: center; }
      #game_field_list_frame .game_row .hand_card img {
        width: 49px; }
    #game_field_list_frame .game_row[disp_mode=small] {
      background-color: lightgray; }
      #game_field_list_frame .game_row[disp_mode=small] table.game_field td {
        text-shadow: white 1px 1px 0px, white -1px 1px 0px, white 1px -1px 0px, white -1px -1px 0px, white 1px 0px 0px, white -1px 0px 0px, white 0px 1px 0px, white 0px -1px 0px; }
        #game_field_list_frame .game_row[disp_mode=small] table.game_field td span.charge {
          text-shadow: none; }
        #game_field_list_frame .game_row[disp_mode=small] table.game_field td .pict {
          min-height: 32px; }
          #game_field_list_frame .game_row[disp_mode=small] table.game_field td .pict img {
            max-width: 32px; }
      #game_field_list_frame .game_row[disp_mode=small] .hand_card {
        min-height: 32px; }
        #game_field_list_frame .game_row[disp_mode=small] .hand_card img {
          width: 32px; }
    #game_field_list_frame .game_row[disp_mode=hide] {
      background-color: lightgray; }
      #game_field_list_frame .game_row[disp_mode=hide] * {
        min-height: 1px;
        min-width: 1px; }
      #game_field_list_frame .game_row[disp_mode=hide] table.game_field td {
        position: relative;
        min-height: 34px;
        text-shadow: white 1px 1px 0px, white -1px 1px 0px, white 1px -1px 0px, white -1px -1px 0px, white 1px 0px 0px, white -1px 0px 0px, white 0px 1px 0px, white 0px -1px 0px; }
        #game_field_list_frame .game_row[disp_mode=hide] table.game_field td * {
          z-index: 100;
          position: relative; }
        #game_field_list_frame .game_row[disp_mode=hide] table.game_field td div {
          min-height: 5px; }
          #game_field_list_frame .game_row[disp_mode=hide] table.game_field td div.button {
            margin: 24px 5px; }
        #game_field_list_frame .game_row[disp_mode=hide] table.game_field td span.charge {
          text-shadow: none; }
        #game_field_list_frame .game_row[disp_mode=hide] table.game_field td .pict {
          position: absolute;
          top: 1px;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 10;
          margin: 1px;
          min-height: 32px; }
          #game_field_list_frame .game_row[disp_mode=hide] table.game_field td .pict img {
            height: 32px;
            width: 32px; }
      #game_field_list_frame .game_row[disp_mode=hide] .hand_card {
        display: none; }
