h2 {
    text-align:center;
    font-size:18px;
}

form {
    margin:5px;
    border:solid 1px;
}

form>div {
    padding: 0;
    margin: 20px 0;
    text-align:center;
    width: 100%;
}

#message {
    color: #ff0000;
}

div.column_name {
    width: 30%;
}

div.input_box {
    width:65%;
}

input.wide {
    width:100%;
}

.clearfix>div {
    float:left;
}

div.submit {
    width:100%;
    text-align:center;
}

div.regist_link {
    width:100%;
    text-align:center;
    margin: 40px 0;
}

div.regist_link a {
    font-size:14px;
}
