application/configs/secret.ini
httpdocs/images/
httpdocs/reject/
httpdocs/static/
httpdocs/css/screen.css
httpdocs/css/screen.css.map
httpdocs/js/game_field.merge.js
httpdocs/js/*.min.js
docs/
.sass-cache/
.zfproject.xml
tags
*.sw[po]
