[production]
database.host       = 127.0.0.1
database.dbname     = dbname
database.username   = username
database.password   = password
database.admin.username   = username
database.admin.password   = password

password.salt = "salt"
password.trial = 1

mail.from = "hoge@example.com"
mail.admin = "hoge@example.com"

twitter.bot.api.key = "apiKey"
twitter.bot.api.secret = "secret"
twitter.bot.token.key = "tokenKey"
twitter.bot.token.secret = "tokenSecret"

[ds_original : production]
database.dbname = dbname

[test_ds_original : ds_original]
database.dbname = dbname

[testing : production]
database.dbname = dbname
